{% extends "cards/base.html" %}
{% load static %}
{% block title%} About{% endblock title %}

{% block main-content%}
<div class="container mt-3">
    <br>
    <h2 class="text-center">About Us</h2>
    <br>
    <div class="row container">
        <p class="fs-4 text-center"> Milkman Technologies is a First & Last Mile delivery software company, offering technology and expertise for designing optimal delivery logistics.</p>
    </div>
        <br></br>
    <h2 class="text-center">Mission</h2>
    <br>
    <div class="row container">
        <p class="fs-4 text-cnter">Find prospects by the technologies they use. Use this section to learn more about the key technologies and tools
             used by Milkman Milk and how they affect the user interaction and engagement with the company. Explore 32 technologies across 7 categories used by Milkman Milk</p>
    </div>
</div>

{%endblock main-content %}