{% extends "cards/base.html" %}
{% load static %}
{% block title%} Home {% endblock title %}

{% block main-content%}
    
        <div class="container">
            <div class="row flex justify-content-between">
            <div  class="img2 col-lg-5 mt-5">
                <img src="{{product.product_image.url}}" class="image col-xs-6 col-sm-12 col-lg-12 mt-3 text-sm-center w-100 h-75 " alt="">
            </div> 
            <div class="productdetils col-lg-5">
                <h1 style="font-family: Georgia; font-size: 50px; ">{{product.title}}</h1>
            </div>
            </div>
        </div>


{%endblock main-content %}